<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Event Channels - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Event Channels
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									You can set a channel to which event notifications will be announced to. If no channel is set, no announcements will be made when an event starts.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<p>Select a channel for event announcements</p>

							<input type="radio" name="announce_channel" value="none" checked>none</input>

                            <% for(var i=0; i<channelData.length; i++) { %>
							<input type="radio" name="announce_channel" value="<%= channelData[i].id%>" <%= channelData[i].id===serverData.announce_channel?"checked":""%>><%= channelData[i].name%></input>
                            <% } %>
							<br>
                            <% var formButtonsUnsaved = false; %>
                            <% include ../partials/form-buttons %>
                            <% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
