<!DOCTYPE html>
<html>
<head>
	<title>G4M3R: the best Discord bot for gaming communities!</title>
	<% include ../partials/head %>

	<style type="text/css">
	@media screen and (max-width: 420px) {
		#G4M3R-title {
			font-size: 42px;
		}
	}
	@media screen and (min-width: 321px) and (max-width: 768px) {
		#G4M3R-title {
			font-size: 46px;
		}
		#G4M3R-subtitle {
			font-size: 30px;
		}
		#G4M3R-subsubtitle {
			font-size: 25px;
		}
		#G4M3R-discord {
			height: 31px;
		}
		#G4M3R-header-title {
			height: 16px;
		}
		#G4M3R-header-subtitle {
			height: 12px;
		}
	}
	@media screen and (min-width: 769px) {
		#G4M3R-title {
			font-size: 96px;
		}
		#G4M3R-subtitle {
			font-size: 40px;
		}
		#G4M3R-subsubtitle {
			font-size: 30px;
		}
		#G4M3R-discord {
			height: 42px;
		}
		#G4M3R-header-title {
			height: 18px;
		}
		#G4M3R-header-subtitle {
			height: 14px;
		}
	}
	</style>
	<script>
	$(document).ready(function() {
		$(".section-shortcut-link").click(function() {
			$("html, body").animate({
				scrollTop: $("#" + this.href.substring(this.href.lastIndexOf("#")+1)).offset().top
			}, 172);
		});
	});
	</script>
</head>
<body>
	<section class="hero is-info is-small">
		<div class="hero-header is-small">
			<div class="container">
				<div class="content" style="color:white">
					<h4 id="G4M3R-header-title" class="title is-4">
						<strong style="color:white">G4M3R is searching for additional developers</strong>&emsp;
					</h4>
					<h6 id="G4M3R-header-subtitle" class="subtitle is-6">
						If you are interested in working with us on G4M3R and know NodeJS, Eris and Bulma CSS, talk to us.
					</h6>
				</div>
			</div>
		</div>
	</section>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
	</section>
	<section id="start" class="hero is-primary is-medium is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-vcentered">
					<div class="column is-half has-text-centered">
						<img src="/static/img/icon.png" style="border-radius: 100%;width:200px;">
						<h1 id="G4M3R-title" class="title is-1" style="font-family: Montserrat;">
							<span style="display: inline-block;">G4M3R</span>
						</h1>
						<h2 id="G4M3R-subtitle" class="title is-2">
							The best <img id="G4M3R-discord" src="/static/img/discord-logo.png" style="vertical-align: top;"> bot <br>
							for gaming related stuff!
						</h2>
						<br>

						<p class="hero-buttons">
							<a class="button is-primary is-large" href="/add">
						<span class="icon">
							<i class="fa fa-plus"></i>
						</span>
								<span>Add to Server</span>
							</a>
						</p>
						<br>

                        <% if(bannerMessage) { %>
						<br><br>
						<h3 class="title is-5"><%- bannerMessage %></h3>
                        <% } %>
					</div>
					<div class="column is-half has-text-centered">
						<h1 id="G4M3R-subtitle" class="title is-5" style="font-family: Montserrat;">
							<span style="display: inline-block;"><strong>New event system</strong> </span>
						</h1>
						<h2 id="G4M3R-subsubtitle" class="title is-7">
							The only event system out there!
						</h2>
						<br>
						<img src="/static/img/events.gif" style="width:500px;">
					</div>
				</div>
			</div>
		</div>
		<div class="hero-foot">
			<nav class="nav">
				<div class="container">
					<div class="nav-center">
						<a class="nav-item is-tab section-shortcut-link" href="#about">
							About
						</a>
						<a class="nav-item is-tab section-shortcut-link" href="#media">
							Media
						</a>
						<a class="nav-item is-tab section-shortcut-link" href="#stats">
							Stats
						</a>
						<a class="nav-item is-tab section-shortcut-link" href="#features">
							Features
						</a>
						<a class="nav-item is-tab section-shortcut-link" href="#servers">
							Servers
						</a>
						<a class="nav-item is-tab section-shortcut-link" href="#team">
							Team
						</a>
						<a class="nav-item is-tab section-shortcut-link" href="#links">
							More
						</a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section id="about" class="hero is-primary is-bold is-small">
		<div class="hero-body">
			<div class="container">
				<nav class="columns">
					<div class="column has-text-centered">
						<span class="icon is-large">
							<span class="icon is-large">
							<i class="fa fa-gamepad fa-4x"></i>
							</span>
						</span>
						<p class="title is-4">Features made for <br><strong>G4M3Rs</strong></p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-calendar fa-4x"></i>
						</span>
						<p class="title is-4"><strong>Event System</strong> <br>incl. notifications</p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-cog fa-4x"></i>
						</span>
						<p class="title is-4"><strong>web dashboard</strong><br>makes it easy to configure</p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-heart fa-4x"></i>
						</span>
						<p class="title is-4"><strong>Free</strong><br>and open-source</p>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="media" class="hero is-medium is-dark is-bold">
		<div class="hero-body">
			<div class="container">
				<nav class="columns is-vcentered">
					<div class="column is-10 is-offset-1">
						<nav class="columns is-vcentered is-multiline">
							<div class="column is-one-third has-text-centered">
								<div class="notification is-danger">
									<span class="icon is-large">
										<i class="fa fa-youtube-play"></i>
									</span>
									<p class="title is-4"><strong>YouTube</strong><br>videos</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-warning">
									<span class="icon is-large">
										<i class="fa fa-google"></i>
									</span>
									<p class="title is-4">Web results<br>from <strong>Google</strong></p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-primary">
									<span class="icon is-large">
										<i class="fa fa-reddit-alien"></i>
									</span>
									<p class="title is-4"><strong>Reddit</strong><br>feed</p>
								</div>
							</div>
							<div class="column is-one-quarter has-text-centered">
								<div class="notification is-light">
									<span class="icon is-large">
										<i class="fa fa-gamepad"></i>
									</span>
									<p class="title is-4" style="color: black"><strong>Events</strong> incl. notification</p>
								</div>
							</div>
							<div class="column is-one-quarter has-text-centered">
								<div class="notification is-light" title="* feature planned for future releases">
									<span class="icon is-large">
										<i class="fa fa-trophy"></i>
									</span>
									<p class="title is-4" style="color: black"><strong>Tournaments</strong><br>management*</p>
								</div>
							</div>
							<div class="column is-one-quarter has-text-centered">
								<div class="notification is-light" title="* feature planned for future releases">
									<span class="icon is-large">
										<i class="fa fa-search"></i>
									</span>
									<p class="title is-4" style="color: black"><strong>Looking for Group*</strong></p>
								</div>
							</div>
							<div class="column is-one-quarter has-text-centered">
								<div class="notification is-light" title="* feature planned for future releases">
									<span class="icon is-large">
										<i class="fa fa-users"></i>
									</span>
									<p class="title is-4" style="color: black"><strong>Clan / Team</strong><br>manager*</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-primary">
									<span class="icon is-large">
										<i class="fa fa-rss"></i>
									</span>
									<p class="title is-4">Custom<br><strong>RSS</strong> feeds</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-success">
									<span class="icon is-large">
										<i class="fa fa-mouse-pointer"></i>
									</span>
									<p class="title is-4">Fun <strong>meme</strong><br>generator</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-info">
									<span class="icon is-large">
										<i class="fa fa-picture-o"></i>
									</span>
									<p class="title is-4"><strong>GIF</strong> + <strong>Image</strong><br>search</p>
								</div>
							</div>
							<div class="column is-12 has-text-right">
								<p class="title is-5"><strong>* feature planned for future releases</strong></p>
							</div>
						</nav>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="stats" class="hero is-small is-black is-bold">
		<div class="hero-body">
			<div class="container">
				<nav class="level is-mobile">
					<div class="level-item has-text-centered">
						<p class="heading">Server<%= rawServerCount==1 ? "" : "s" %></p>
						<p class="title is-2"><%= rawServerCount %></p>
					</div>
					<div class="level-item has-text-centered">
						<p class="heading">User<%= rawUserCount==1 ? "" : "s" %></p>
						<p class="title is-2"><%= rawUserCount %></p>
					</div>
					<div class="level-item has-text-centered" title="<%= rawUptime %>">
						<p class="heading">Uptime</p>
						<p class="title is-2"><%= roundedUptime %></p>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="features" class="hero is-small is-dark is-bold">
		<div class="hero-body">
			<div class="container">
				<div class="tile is-ancestor">
					<div class="tile is-vertical is-12">
						<div class="tile is-parent">
							<div class="tile is-child">
								<p class="title is-2 has-text-centered">Increase <strong>activity</strong> on <strong>your</strong> server</p>
								<p class="subtitle is-4 has-text-centered">G4M3R provides tons of <strong>in-chat tools</strong>.</p>
							</div>
						</div>
						<div class="tile">
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-comments"></i>
									</span>
									<p class="title is-4">In-chat <strong>polls</strong></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-star"></i>
									</span>
									<p class="title is-4"><strong>Event System</strong></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-gavel"></i>
									</span>
									<p class="title is-4"><strong>Kick</strong> + <strong>ban</strong></p>
								</div>
							</div>
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-question"></i>
									</span>
									<p class="title is-4"><strong>Trivia</strong> game</p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-wikipedia-w"></i>
									</span>
									<p class="title is-4"><strong>Wikipedia</strong></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-table"></i>
									</span>
									<p class="title is-4"><strong>ModLog</strong></p>
								</div>
							</div>
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-key"></i>
									</span>
									<p class="title is-4"><strong>Giveaways</strong></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-book"></i>
									</span>
									<p class="title is-4"><strong>Urban</strong> Dictionary</p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-check-square-o"></i>
									</span>
									<p class="title is-4"><strong>To-do</strong> list</p>
								</div>
							</div>
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-trophy"></i>
									</span>
									<p class="title is-4">Member <strong>ranks</strong></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-sun-o"></i>
									</span>
									<p class="title is-4"><strong>Weather</strong> + <strong>Time</strong></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-sort"></i>
									</span>
									<p class="title is-4"><strong>Convert</strong> units</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="servers" class="hero is-small is-primary">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h2 class="title is-2">
					<% if (roundedServerCount === 0) {roundedServerCount = "<100"} %>
					There's a reason over <strong><%= roundedServerCount %></strong> servers trust G4M3R.
				</h2>
				<h3 class="subtitle is-4">
					It's fun, easy-to-use, and feature-packed.
					<a href="/activity/servers">
						Browse servers &raquo;
					</a>
				</h3>
			</div>
		</div>
	</section>

	<section id="team" class="hero is-fullheight is-light">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="title is-2">
						The creators of <strong>G4M3R</strong>
					</h2>
					<h4 class="subtitle is-4">
						Crazy enough to work on that project...
					</h4>
				</div>
				<br><br><br>
				<div class="columns">
					<div class="column is-half">
						<center>
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img src="/static/img/pedall.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-2" ondblclick="this.innerHTML = 'NPA Founder';"><strong>Pedall</strong></p>
											<p class="subtitle is-4"><em>G4M3R Dad</em></p>
										</div>
									</div>

									<div class="content">
										Familiy guy <span class="icon">
											<i class="fa fa-users-o"></i>
										</span>
										<br>
										<a href="https://github.com/pedall">GitHub</a>
									</div>
								</div>
							</div>
						</center>
					</div>
					<div class="column is-half">
						<center>
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img src="/static/img/notem.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-2"><strong>Notem</strong></p>
											<p class="subtitle is-4"><em>G4M3R Brain</em></p>
										</div>
									</div>

									<div class="content">
										Potatoe laptop <span class="icon">
											<i class="fa fa-heart-o"></i>
										</span>
										<br>
										<a href="https://github.com/pedall/G4M3R">GitHub</a>
									</div>
								</div>
							</div>
						</center>
					</div>
				</div>
				<br>
				<div class="has-text-centered">
					<h2 class="title is-2">
						The Original <strong>AwesomeBot Creators</strong>
					</h2>
					<h4 class="subtitle is-4">
						The guys who created that monster!
					</h4>
				</div>
				<br><br><br>
				<div class="columns">
					<div class="column is-one-third">
						<center>
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img src="/static/img/bitquote.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-3" ondblclick="this.innerHTML = 'LazyWaffle';"><strong>BitQuote</strong></p>
											<p class="subtitle is-5"><em>Creator of AwesomeBot</em></p>
										</div>
									</div>

									<div class="content">
										Just another robot <span class="icon">
											<i class="fa fa-smile-o"></i>
										</span>
										<br>
										<a href="https://github.com/BitQuote">GitHub</a>
									</div>
								</div>
							</div>
						</center>
					</div>
					<div class="column is-one-third">
						<center>
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img src="/static/img/mistmurk.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-3"><strong>mistmurk</strong></p>
											<p class="subtitle is-5"><em>AwesomeBot Dev</em></p>
										</div>
									</div>

									<div class="content">
										Stardust insomniac <span class="icon">
											<i class="fa fa-heart-o"></i>
										</span>
										<br>
										<a href="https://github.com/mistmurk">GitHub</a>
										&nbsp;
										<a href="https://soundcloud.com/mist-murk">SoundCloud</a>
									</div>
								</div>
							</div>
						</center>
					</div>
					<div class="column is-one-third">
						<center>
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img src="/static/img/ksham.jpg" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-3"><strong>ksham</strong></p>
											<p class="subtitle is-5"><em>AwesomeBot Dev</em></p>
										</div>
									</div>

									<div class="content">
										I haven't decided yet. <span class="icon">
											<i class="fa fa-exclamation-circle"></i>
										</span>
										<br>
										<a href="https://github.com/Kays">GitHub</a>
									</div>
								</div>
							</div>
						</center>
					</div>
				</div>
				<br>
				<div class="has-text-centered">
					<h2 class="title is-2">
						The <strong>new guys</strong> from the GAwesomeBot version
					</h2>
					<h4 class="subtitle is-4">
						They pull the ropes at the community version of AwesomeBot.
					</h4>
					<div class="columns">
						<div class="column">
							<center>
								<div class="card" style="text-align: left;">
									<div class="card-image">
										<figure class="image is-square">
											<img src="/static/img/gilbert.png" alt="">
										</figure>
									</div>
									<div class="card-content">
										<div class="media">
											<div class="media-content">
												<p class="title is-3"><strong>Gilbert Gobbels</strong></p>
												<p class="subtitle is-5"><em>Sysadmin, Hoster, Developer</em></p>
											</div>
										</div>

										<div class="content">
											The Almighty Fish <span class="icon">
												<i class="fa fa-fish"></i>
											</span>
											<br>
											<a href="https://github.com/GilbertGobbels">GitHub</a>
											&nbsp;
											<a href="https://twitter.com/GG142_">Twitter</a>
										</div>
									</div>
								</div>
							</center>
						</div>
						<div class="column is-one-third">
							<center>
								<div class="card" style="text-align: left;">
									<div class="card-image">
										<figure class="image is-square">
											<img src="/static/img/vlad.png" alt="">
										</figure>
									</div>
									<div class="card-content">
										<div class="media">
											<div class="media-content">
												<p class="title is-3"><strong>King - Vlad</strong></p>
												<p class="subtitle is-5">Developer, Embedder</p>
											</div>
										</div>

										<div class="content">
											I do embeds <span class="icon">
											<i class="fa fa-id-card-u"></i>
										</span>
											<br>
											<a href="https://github.com/KingDGrizzle">GitHub</a>
										</div>
									</div>
								</div>
							</center>
						</div>
						<div class="column is-one-third">
							<center>
								<div class="card" style="text-align: left;">
									<div class="card-image">
										<figure class="image is-square">
											<img src="/static/img/hilbert.png" alt="">
										</figure>
									</div>
									<div class="card-content">
										<div class="media">
											<div class="media-content">
												<p class="title is-3" ondblclick="if (this.innerHTML=='HilbertGilbertson') {this.innerHTML = 'GilbertHilbertson'} else {this.innerHTML = 'HilbertGilbertson'}"><strong>HilbertGilbertson</strong></p>
												<p class="subtitle is-5">Contributor, Support, Wiki</p>
											</div>
										</div>

										<div class="content">
											I should give Gilbert a quote <span class="icon">
											<i class="fa fa-question-circle"></i>
										</span>
											<br>
											<a href="https://github.com/HilbertGilbertson">GitHub</a>
										</div>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="links" class="hero is-small is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<p class="hero-buttons">
						<a class="button is-primary is-large" href="/add" style="background-color: #009688;">
							Convinced? Get started now
						</a>
					</p>
					<p class="hero-buttons">
						<a class="button is-dark is-medium" href="https://discord.gg/mtJyQjW" style="background-color: #7289da;">
							Discord
						</a>
						<a class="button is-light is-medium" href="https://github.com/pedall/G4M3R" style="background-color: #fafafa;">
							GitHub
						</a>
						<a class="button is-info is-medium" href="https://twitter.com" style="background-color: #1da1f2;">
							Twitter
						</a>
					</p>
				</div>
				<br>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
