<div class="columns">
	<div class="column is-12">
		<table class="table">
			<thead>
			<tr>
				<th><abbr title="Event ID">ID</abbr></th>
				<th>Title</th>
				<th><abbr title="Author">by</abbr></th>
				<th>Server</th>
				<th><abbr title="Attendees">Slots</abbr></th>
				<th>Starts</th>
				<th>Ends</th>
				<th>Tags</th>
				<th>Leave</th>
				<th>Info</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<th><abbr title="Event ID">ID</abbr></th>
				<th>Title</th>
				<th><abbr title="Author">by</abbr></th>
				<th>Server</th>
				<th><abbr title="Attendees">Slots</abbr></th>
				<th>Starts</th>
				<th>Ends</th>
				<th>Tags</th>
				<th>Leave</th>
				<th>Info</th>
			</tr>
			</tfoot>
			<tbody>
            <% for(var i=0; i<eventData.length; i++) { %>
			<tr>
				<td>
                    <%= eventData[i].id %>
				</td>
				<td>
                    <%= eventData[i].title %>
				</td>
				<td>
                    <%= eventData[i].author %>
				</td>
				<td>
                    <%= eventData[i].title %>
				</td>
				<td>
					( <%= eventData[i].actualAttendees %> / <%= eventData[i].maxAttendees %> )
				</td>
				<td>
					End-time
				</td>
				<td>
					Tags
				</td>
				<td>
					Start-time
				</td>
				<td>
					<a class="button is-small is-danger is-hovered" href="/events/myevents">
								<span class="icon is-small">
									<i class="fa fa-sign-out"></i>
								</span>
					</a>
				</td>
				<td>
					<a class="button is-small is-info is-hovered" href="/events/myevents">
								<span class="icon is-small">
									<i class="fa fa-info"></i>
								</span>
					</a>
				</td>
			</tr>
            <% } %>
			</tbody>
		</table>
	</div>
</div>


