<script>
    function showSelections() {
        document.getElementById("server-select").value = "<%= data.serverFilter %>";
        document.getElementById("sort-select").value = "<%= data.sortOrder %>";
        document.getElementById("count-select").value = "<%= data.itemsPerPage %>";
    }
</script>

<nav class="level is-mobile">
	<div class="level-left">
		<div class="level-item">
			<span class="select">
				<select id="server-select" onchange="window.location.href = '/events/overview?count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&server=' + this.value;">
					<option value="All">All Servers</option>
                    <% for(var i=0; i<data.servers.length; i++) { %>
					<option value="<%= data.servers[i].id %>"><%= data.servers[i].name %></option>
                    <% } %>
				</select>
			</span>
		</div>
	</div>
	<div class="level-right">
		<div class="level-item">
			<span class="select">
				<select id="sort-select" onchange="window.location.href = '/events/overview?count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=' + this.value + '&server=<%= data.serverFilter%>';">
					<option value="start">Start</option>
					<option value="end">End</option>
					<option value="server">Server</option>
					<option value="author">Author</option>
				</select>
			</span>
		</div>
		<div class="level-item">
			<span class="select">
				<select id="count-select" onchange="window.location.href = '/events/overview?count=' + this.value + '&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&server=<%= data.serverFilter%>';">
					<option value="0">All Items</option>
					<option value="8">8 items/page</option>
					<option value="16">16 items/page</option>
					<option value="24">24 items/page</option>
					<option value="32">32 items/page</option>
					<option value="48">48 items/page</option>
					<option value="64">64 items/page</option>
				</select>
			</span>
		</div>
	</div>
</nav>

<div class="columns">
	<div class="column is-12">
		<table id="event-table" class="table" style="overflow-x: scroll;overflow-y: scroll">
			<thead style="background: #daf1f6;color:black">
			<tr>
				<th class="is-smaller-1"><strong>Title</strong></th>
				<th class="is-smaller-3"><abbr title="Author"><strong>by</strong></abbr></th>
				<th class="is-smaller-2"><strong>Server</strong> <span class="tag is-small is-primary">ID</span></th>
				<th><abbr title="Attendees"><strong>Slots</strong></abbr></th>
				<th class="is-hidden-mobile"><strong>Starts</strong></th>
				<th class="is-hidden-mobile"><strong>Ends</strong></th>
				<th class="is-hidden-mobile"><strong>Join / Leave</strong></th>
			</tr>
			</thead>
			<tfoot style="background: #daf1f6;color:black">
			<tr>
				<th class="is-smaller-1"><strong>Title</strong></th>
				<th class="is-smaller-3"><abbr title="Author"><strong>by</strong></abbr></th>
				<th class="is-smaller-2"><strong>Server</strong> <span class="tag is-small is-primary">ID</span></th>
				<th><abbr title="Attendees"><strong>Slots</strong></abbr></th>
				<th class="is-hidden-mobile"><strong>Starts</strong></th>
				<th class="is-hidden-mobile"><strong>Ends</strong></th>
				<th class="is-hidden-mobile"><strong>Join / Leave</strong></th>
			</tr>
			</tfoot>
			<tbody>
            <% for(var i=0; i<data.eventData.length; i++) { %>
			<tr class="modal-button" data-target="#event-<%= i %>-modal">
				<td>
					<strong><%= data.eventData[i].title %></strong>
				</td>
				<td>
					<span class="tag is-small is-dark" style="color: white"><%= data.eventData[i].author %></span>
				</td>
				<td>
                    <%= data.eventData[i].server %> <span class="tag is-small is-primary"><%= data.eventData[i].no %></span>
				</td>
				<td>
					<div class="tag is-small is-danger">
						<strong style="color: white"><%= data.eventData[i].actualAttendees %>
							/ <%= data.eventData[i].maxAttendees %></strong>
					</div>
				</td>
				<td class="is-hidden-mobile">
					<span class="tag is-small is-light"><strong><%= data.eventData[i].startDate %></strong></span>
				</td>
				<td class="is-hidden-mobile">
					<span class="tag is-small is-light"><strong><%= data.eventData[i].endDate %></strong></span>
				</td>
				<td class="is-hidden-mobile">
                    <% if (data.eventData[i].userHasJoined) { %>
					<a id="event-action-button" class="button is-small is-danger is-hovered" onclick="doEventAction('<%=data.eventData[i].id%>', 'leave')">
						<span class="icon is-small"><i class="fa fa-sign-out"></i></span>
					</a>
                    <% } else { %>
					<a id="event-action-button" class="button is-small is-success is-hovered" onclick="doEventAction('<%=data.eventData[i].id%>', 'join')">
						<span class="icon is-small"><i class="fa fa-sign-in"></i></span>
					</a>
                    <% } %>
				</td>
			</tr>
			<div id="event-<%= i %>-modal" class="modal">
				<div class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">
							<Strong>Event &#127380;<%= data.eventData[i].no %></Strong>
							<em class="content is-medium">&nbsp; // by <%= data.eventData[i].author %></em>
						</p>
					</header>
					<section class="modal-card-body">
						<div class="content" style="line-height: 170%">
							<div class="title is-4">
								<strong><%= data.eventData[i].title %></strong>
							</div>
							<div class="subtitle is-6">
								<strong>on <%= data.eventData[i].server %></strong>
							</div>
							<hr>

							<strong>Starts:</strong> <%= data.eventData[i].startDateNice %>
							<br>
							<strong>Ends:</strong> <%= data.eventData[i].endDateNice %>
							<hr>
							<strong>Attendees [</strong> <%= data.eventData[i].actualAttendees %> / <%= data.eventData[i].maxAttendees %> <strong>] :</strong>
                            <% if(data.eventData[i].attendees.length > 0) { %>
                            <% for(var j = 0;j < data.eventData[i].attendees.length;j++) { %>
							<span class="tag is-small is-primary">
								<%= data.eventData[i].attendees[j] %>
								<button class="delete is-small"></button>
							</span>
                            <% } %>
                            <% } else { %>
							<em>no attendees joined yet!</em>
                            <% } %>
							<hr>
							<strong>Tags (<%= data.eventData[i].tags.length%>): </strong>
                            <% if(data.eventData[i].tags.length > 0) { %>
                            <% for(j = 0;j < data.eventData[i].tags.length;j++) { %>
							<span class="tag is-small is-info" style="color:white">
									<%= data.eventData[i].tags[j] %>
								<!--<button class="delete is-small"></button>-->
								</span>
                            <% } %>
                            <% } else { %>
							<em>no tags defined yet!</em>
                            <% } %>
						</div>
					</section>
					<footer class="modal-card-foot">
                        <% if(data.eventData[i].userHasJoined) { %>
						<a id="event-action-button" class="button is-danger" onclick="doEventAction('<%=data.eventData[i].id%>', 'leave')">Leave Event</a>
                        <% } else { %>
						<a id="event-action-button" class="button is-success" onclick="doEventAction('<%=data.eventData[i].id%>', 'join')">Join Event</a>
                        <% } %>
					</footer>
				</div>
				<button class="modal-close"></button>
			</div>
            <% } %>
			</tbody>
		</table>
	</div>
</div>
<div class="content">
	<em><strong>Your timezone:</strong> <span class="tag is-small is-light"><%= (data.userDocument.timezone ? data.userDocument.timezone : configFile.moment_timezone) %></span></em><br>
	<em class="is-hidden-mobile"><strong>date format:</strong><span
				class="tag is-small is-light"> <%= date.formatString %></span></em>
</div>
<% if(data.numPages>1) { %>
<br>
<nav class="pagination">
	<ul>
        <% if(data.currentPage>2) { %>
		<li>
			<a class="button" href="/events/overview?count=<%= data.itemsPerPage %>&page=1&sort=<%= data.sortOrder %>&server=<%= data.serverFilter %>">
				1
			</a>
		</li>
        <% } %>
        <% if(data.currentPage>3) { %>
		<li>
			<span>...</span>
		</li>
        <% } %>
        <% if(data.currentPage>1) { %>
		<li>
			<a class="button" href="/events/overview?count=<%= data.itemsPerPage %>&page=<%= data.currentPage-1 %>&sort=<%= data.sortOrder %>&server=<%= data.serverFilter %>">
                <%= data.currentPage-1 %>
			</a>
		</li>
        <% } %>
		<li>
			<a class="button is-primary" href="/events/overview?count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&server=<%= data.serverFilter %>">
                <%= data.currentPage %>
			</a>
		</li>
        <% if(data.currentPage<data.numPages) { %>
		<li>
			<a class="button" href="/events/overview?count=<%= data.itemsPerPage %>&page=<%= data.currentPage+1 %>&sort=<%= data.sortOrder %>&server=<%= data.serverFilter %>">
                <%= data.currentPage+1 %>
			</a>
		</li>
        <% } %>
        <% if(data.currentPage<data.numPages-2) { %>
		<li>
			<span>...</span>
		</li>
        <% } %>
        <% if(data.currentPage<data.numPages-1) { %>
		<li>
			<a class="button" href="/events/overview?count=<%= data.itemsPerPage %>&page=<%= data.numPages %>&sort=<%= data.sortOrder %>&server=<%= data.serverFilter %>">
                <%= data.numPages %>
			</a>
		</li>
        <% } %>
	</ul>
</nav>
<% } %>